<div class='container' id="showcases" data-ctrl="harajs">

  <div class="row  cases-export-panel">
    <div class="col-md-8">
      <h1>Crawling <b>Opensooq</b></h1>

      <div class="pagination">
        <%= will_paginate @harajs, :renderer => BootstrapPagination::Rails %>
      </div>
    </div>
    <div class="col-md-4">

      <div class="crawl-info-form cif-box">
        <div class="cif-inner">
          <h2 id="crawledItemCount"><%= number_with_delimiter(@count) %></h2>
          <p>Crawled Items</p>
        </div>
        <button id="export_Button" type="button" class="btn btn-success cif-button" data-loading-text="Exporting...">
          Export to Excel
        </button>
      </div>
    </div>

  </div>

  <div class="row" id="cases-table">

    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <tbody>
      <% @harajs.each do |haraj| %>
          <tr>
            <td>
              <div class="item">
                <div class="col-md-4">

                  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 280px;">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" id="<%= haraj.guid %>">
                      <% haraj.pictures.each do |image| %>
                          <div class="item">
                            <img src="<%= image %>" class="imgWrap">
                          </div>
                      <% end %>
                    </div>
                    <script type="text/javascript" charset="utf-8">
                      $('#<%= haraj.guid %>').carousel({
                        interval: 3000
                      })
                    </script>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="details">
                    <div class="title">
                      <a class="themeURL" href="<%= haraj.url %>" style="color: black;font-size: 26px;font-weight: 300;line-height: 1.2;font-family: 'Roboto';">
                        <%= haraj.title %>
                      </a>
                      <div class="author">
                        From: <a href="<%= @from_homepage[haraj.url_from] %>" style="color: #008ed6;font-size: 13px;">
                        <%= haraj.url_from %>
                      </a>
                      </div>
                    </div>

                    <table class="information-table">
                      <tbody>
                      <tr>
                        <td class="slabel">city:</td>
                        <td><%= haraj.city %></td>
                      </tr>
                      <tr>
                        <td class="slabel">address:</td>
                        <td><%= haraj.address %></td>
                      </tr>
                      <tr>
                        <td class="slabel">memberName:</td>
                        <td><%= haraj.memberName %></td>
                      </tr>
                      <tr>
                        <td class="slabel">description:</td>
                        <td><%= haraj.description %></td>
                      </tr>
                      <tr>
                        <td class="slabel">Phone Number:</td>
                        <td>
                          <div class="row" id="scontent">
                            <div class="phoneNumber table getPhoneNumber">
                              <span class="tableCell center fa fa-phone"></span>
                            <span dir="ltr" class="tableCell center sellerPhone ">
                              <img src="data:image/jpeg;base64,<%= haraj.number %>">
                            </span>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="ps">
                    <div class="price"> <%= haraj.section %></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>


  </div>

  <div class="pagination">
    <%= will_paginate @harajs, :renderer => BootstrapPagination::Rails %>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
  (function () {

    $(document).ready(function () {
      setInterval(fetchCrawledCount, 1000);
    });

  }).call(this);
</script>
