<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @haraj.title %>
</p>

<p>
  <b>Url:</b>
  <%= @haraj.url %>
</p>


<%= link_to 'Edit', edit_haraj_path(@haraj) %> |
<%= link_to 'Back', harajs_path %>
