<p id="notice"><%= notice %></p>

<p>
  <b>Sub1:</b>
  <%= @dealsdirect.sub1 %>
</p>

<p>
  <b>Sub2:</b>
  <%= @dealsdirect.sub2 %>
</p>

<p>
  <b>Sub3:</b>
  <%= @dealsdirect.sub3 %>
</p>

<p>
  <b>Url:</b>
  <%= @dealsdirect.url %>
</p>

<p>
  <b>Guid:</b>
  <%= @dealsdirect.guid %>
</p>

<p>
  <b>Brand:</b>
  <%= @dealsdirect.brand %>
</p>

<p>
  <b>Title:</b>
  <%= @dealsdirect.title %>
</p>

<p>
  <b>New price:</b>
  <%= @dealsdirect.new_price %>
</p>

<p>
  <b>Label price:</b>
  <%= @dealsdirect.label_price %>
</p>

<p>
  <b>Rrp text:</b>
  <%= @dealsdirect.rrp_text %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @dealsdirect.thumbnail %>
</p>


<%= link_to 'Edit', edit_dealsdirect_path(@dealsdirect) %> |
<%= link_to 'Back', dealsdirects_path %>
