<%= form_for(@dealsdirectnavbar) do |f| %>
  <% if @dealsdirectnavbar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dealsdirectnavbar.errors.count, "error") %> prohibited this dealsdirectnavbar from being saved:</h2>

      <ul>
      <% @dealsdirectnavbar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sub1 %><br />
    <%= f.text_field :sub1 %>
  </div>
  <div class="field">
    <%= f.label :sub2 %><br />
    <%= f.text_field :sub2 %>
  </div>
  <div class="field">
    <%= f.label :sub3 %><br />
    <%= f.text_field :sub3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
