<p id="notice"><%= notice %></p>

<p>
  <b>Sub1:</b>
  <%= @dealsdirectnavbar.sub1 %>
</p>

<p>
  <b>Sub2:</b>
  <%= @dealsdirectnavbar.sub2 %>
</p>

<p>
  <b>Sub3:</b>
  <%= @dealsdirectnavbar.sub3 %>
</p>


<%= link_to 'Edit', edit_dealsdirectnavbar_path(@dealsdirectnavbar) %> |
<%= link_to 'Back', dealsdirectnavbars_path %>
