<p id="notice"><%= notice %></p>

<p>
  <b>Href:</b>
  <%= @realtor.href %>
</p>

<p>
  <b>Guid:</b>
  <%= @realtor.guid %>
</p>

<p>
  <b>Images:</b>
  <%= @realtor.images %>
</p>

<p>
  <b>Address:</b>
  <%= @realtor.address %>
</p>

<p>
  <b>Price:</b>
  <%= @realtor.price %>
</p>

<p>
  <b>Listing:</b>
  <%= @realtor.listing_id %>
</p>

<p>
  <b>Property type:</b>
  <%= @realtor.property_type %>
</p>

<p>
  <b>Land size:</b>
  <%= @realtor.land_size %>
</p>

<p>
  <b>Built in:</b>
  <%= @realtor.built_in %>
</p>

<p>
  <b>Info name:</b>
  <%= @realtor.Info_name %>
</p>

<p>
  <b>Info phone:</b>
  <%= @realtor.Info_phone %>
</p>

<p>
  <b>Info email:</b>
  <%= @realtor.Info_email %>
</p>

<p>
  <b>Description:</b>
  <%= @realtor.description %>
</p>


<%= link_to 'Edit', edit_realtor_path(@realtor) %> |
<%= link_to 'Back', realtors_path %>
