<div class='container' id="showcases" data-ctrl="jobs">


  <div class="panel panel-primary">
    <div class="panel-heading">Search jobs</div>
    <div class="panel-body">
      <%= render 'search_form' %>
    </div>
  </div>

  <div class="row">
    <nav>
      <ul class="pager">
        <li class="previous"> <%= link_to 'New Job', new_job_path %></li>
        <li class="next"><h3 style="float: right;">Count: <span><%= @count %></span></h3></li>
      </ul>
    </nav>
  </div>

  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Listing jobs</div>
    <div class="panel-body">

      <% if @jobs.present? %>
          <%= render 'jobs_table' %>
      <% else %>
          <p>There are no jobs containing the term(s) <%= params[:search] %>.</p>
      <% end %>

    </div>
  </div>
  <div class="pagination">
    <%= will_paginate @jobs, :renderer => BootstrapPagination::Rails %>
  </div>

</div>



