<div class="row">
  <div class="container form_panel">

    <div class="row">
      <nav>
        <ul class="pager">
          <li class="previous"> <%= link_to 'Back', types_path %></li>
          <li class="next"><%= link_to 'Edit', edit_type_path(@type)%></li>
        </ul>
      </nav>
    </div>

    <div class="panel panel-success">

      <div class="panel-heading">
        <h4><%= @type.title %></h4>
      </div>

      <div class="panel-body">
        <table class="table" style="padding: 0; margin: 0;">
          <tr>
            <td>Key</td>
            <td><%= @type.key %></td>
          </tr>
          <tr>
            <td>Value</td>
            <td><%= @type.value %></td>
          </tr>
        </table>
        <div style="padding-left: 12px;padding-top: 8px;padding-right: 4px;">
          <b class="pull-left">Description:</b>
          </br>
          <%=raw @type.description %>
        </div>
      </div>



    </div>
  </div>
</div>




