<p id="notice"><%= notice %></p>

<p>
  <b>Cat:</b>
  <%= @type.cat_id %>
</p>

<p>
  <b>Title:</b>
  <%= @type.title %>
</p>

<p>
  <b>Key:</b>
  <%= @type.key %>
</p>

<p>
  <b>Value:</b>
  <%= @type.value %>
</p>

<p>
  <b>Description:</b>
  <%= @type.description %>
</p>


<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
