<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @googleplay.url %>
</p>

<p>
  <b>Cluster:</b>
  <%= @googleplay.cluster %>
</p>

<p>
  <b>Category:</b>
  <%= @googleplay.category %>
</p>

<p>
  <b>Price:</b>
  <%= @googleplay.price %>
</p>

<p>
  <b>Thumbnail:</b>
  <%= @googleplay.thumbnail %>
</p>

<p>
  <b>Title:</b>
  <%= @googleplay.title %>
</p>

<p>
  <b>Reviewsnum:</b>
  <%= @googleplay.reviewsNum %>
</p>

<p>
  <b>Datepublished:</b>
  <%= @googleplay.datePublished %>
</p>

<p>
  <b>Website:</b>
  <%= @googleplay.website %>
</p>

<p>
  <b>Email:</b>
  <%= @googleplay.email %>
</p>

<p>
  <b>Address:</b>
  <%= @googleplay.address %>
</p>


<%= link_to 'Edit', edit_googleplay_path(@googleplay) %> |
<%= link_to 'Back', googleplays_path %>
