<p id="notice"><%= notice %></p>

<div class="row">
  <div class="container form_panel">

    <div class="row">
      <nav>
        <ul class="pager">
          <li class="previous"> <%= link_to 'Back', vpns_path %></li>
          <li class="next"><%= link_to 'Edit', edit_vpn_path(@vpn)%></li>
        </ul>
      </nav>
    </div>

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table" style="padding: 0; margin: 0;">
            <tr>
              <td>Name</td>
              <td><%= @vpn.name %></td>
            </tr>
            <tr>
              <td>Vpnid</td>
              <td><%= @vpn.vpnid %></td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>



