<h1>Listing etsies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Currencyvalue</th>
    <th>Reviews</th>
    <th>Favorites</th>
    <th>Description</th>
    <th>Images</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @etsies.each do |etsy| %>
  <tr>
    <td><%= etsy.title %></td>
    <td><%= etsy.currencyValue %></td>
    <td><%= etsy.reviews %></td>
    <td><%= etsy.favorites %></td>
    <td><%= etsy.description %></td>
    <td><%= etsy.images %></td>
    <td><%= link_to 'Show', etsy %></td>
    <td><%= link_to 'Edit', edit_etsy_path(etsy) %></td>
    <td><%= link_to 'Destroy', etsy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Etsy', new_etsy_path %>
