<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jobid %><br />
    <%= f.text_field :jobid %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :createdat %><br />
    <%= f.text_field :createdat %>
  </div>
  <div class="field">
    <%= f.label :updatedat %><br />
    <%= f.text_field :updatedat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
