<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @harajs_cach.url %>
</p>

<p>
  <b>Guid:</b>
  <%= @harajs_cach.guid %>
</p>

<p>
  <b>Created at:</b>
  <%= @harajs_cach.created_at %>
</p>

<p>
  <b>Id:</b>
  <%= @harajs_cach.ID %>
</p>

<p>
  <b>Url from:</b>
  <%= @harajs_cach.url_from %>
</p>


<%= link_to 'Edit', edit_harajs_cach_path(@harajs_cach) %> |
<%= link_to 'Back', harajs_caches_path %>
