<h1>Listing socialmedia</h1>

<table>
  <tr>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Google</th>
    <th>Linkedin</th>
    <th>Offacebooklikes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @socialmedia.each do |socialmedium| %>
  <tr>
    <td><%= socialmedium.facebook %></td>
    <td><%= socialmedium.twitter %></td>
    <td><%= socialmedium.google %></td>
    <td><%= socialmedium.linkedin %></td>
    <td><%= socialmedium.ofFacebookLikes %></td>
    <td><%= link_to 'Show', socialmedium %></td>
    <td><%= link_to 'Edit', edit_socialmedium_path(socialmedium) %></td>
    <td><%= link_to 'Destroy', socialmedium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Socialmedium', new_socialmedium_path %>
